<body>
    <div class="container" id="main">
    <h2>OfficeSectionList</h2>
      <table class="table table-striped" style="width:100%">
      <thead>
        <tr>
  
          <th>Office Id</th>
         <th>Document Type</th>
          <th>End Date</th>
          <th>Update</th>
          <th>Delete</th>
          
          <tr></tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let e of officeSection| filter: nameSearch "> 
            <td>{{e.officeId }}</td>
          <td>{{e.documentType }}</td>
          <td>{{e.endDate }}</td>
          
              <td><br><button class="btn btn-info"  type="button"(click)="update()">Update</button><br></td>
          <td><br><button class="btn btn-info"  type="button" (click)="delete()">Delete</button><br></td>
        </tr>
      </tbody>
    </table>
    </div>
  </body>